<head> 
	<title>Sustainical | Dashboard</title>
</head>
<div class="container sustainical-page">
	<div class="row user-specific">
		<div class="col-md-4">
			<!-- USER AVATAR, NAME, BUILDING, RANK -->
			<div class="user-container">
				<div class="boxes inline-user" id="user-avatar">
					<img src="img/dash/sustainAvatar.png"/>
				</div>
				<div class="inline-user" id="user">
					<div class="user-building">
						<div class="user-details name">{{user.name}}</div>
						<div class="user-details rank"></div>
					</div>
					<div class="user-building">
						<div class="user-details building-name">{{user.building}}</div>
						<div class="user-details rank">3rd</div>
					</div>
				</div>
			</div>
			<!-- BADGES -->
			<div class="badge-container">
				<div class="badges first-badge earned">
				</div>
				<div class="badges second-badge not-earned">
				</div>
				<div class="badges third-badge not-earned">
				</div>
				<div class="badges fourth-badge not-earned">
				</div>
			</div>
		</div>
		<!-- USER POINTS -->
		<div class="col-md-4">
			<div class="doughnut-chart">
				<div class="point-total">
					<div class="point-title">{{user.name}}'s Points</div>
					<div class="point-units">{{user.score}}</div>
				</div>
				<canvas id="user-points-chart"></canvas>
			</div>
		</div>
		<!-- BUILDING POINTS -->
		<div class="col-md-4">
			<div class="doughnut-chart">
				<div class="point-total">
					<div class="point-title">Building {{user.building}}'s Points</div>
					<div class="point-units">1574</div>
				</div>
				<canvas id="building-points-chart"></canvas>
			</div>
		</div>
	</div>
	<div class="row user-specific">
		<!-- GOALS -->
		<div class="col-md-3">
			<div class="goal boxes">
				<div class="goal-content goal-one">
					<div class="goal-header">Goal 1</div>
					<div class="goal-details">Turn off the lights when I leave the room</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="goal boxes">
				<div class="goal-content goal-one">
					<div class="goal-header">Goal 2</div>
					<div class="goal-details">Eat less meat</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="goal boxes">
				<div class="goal-content goal-one">
					<div class="goal-header">Goal 3</div>
					<div class="goal-details">Don't fly home to LA as often</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="goal boxes">
				<div class="goal-content goal-one">
					<div class="goal-header">Goal 4</div>
					<div class="goal-details">Convince my friends to use SustainiCal</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row user-specific">
		<div class="col-lg-8">
			<div class="boxes overall-charts">
				<div class="chart-info">
					<div class="chart-text chart-header">
						Energy Consumption by Building (kWh)
					</div>
<!-- 					<div class="chart-text">
						<ul class="chart-option-container">
							<li class="chart-options">month</li>
							<li class="active-tab chart-options">week</li>
							<li class="chart-options">day</li>
						</ul>
					</div> -->
				</div>
				<div class="chart-container">
					<canvas id="fixedChart-1"></canvas>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<table class="boxes" id="point-leaders">
				<tr>
					<th>Buildings</th>
					<th>Points</th>
				</tr>
			</table>
		</div>
	</div>
</div>
<script src='https://code.jquery.com/jquery-1.11.3.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
<script src="/js/dash.js"></script>
